{{/* https://www.radix-ui.com/colors */}}

@property --angle {
  syntax: '<angle>'; /* its type */
  inherits: true;
  initial-value: 0deg; /* the initial value */
}

@property --speed {
  syntax: '<time>'; /* its type */
  inherits: true;
  initial-value: 1s; /* the initial value */
}

@property --size {
  syntax: '<length>'; /* its type */
  inherits: true;
  initial-value: 400px; /* the initial value */
}

.setSize {
  --size: var(--size)
}

.resultPercent {
  --angle: 0deg;
  --speed: 0s;
  position: relative;
  margin: auto;
  width: var(--size);
  height: var(--size);
  border-radius: 50%; /* Makes the div a circle */
  transition: --angle var(--speed); /* we add transition to it */
  background: conic-gradient(
    #58d5ba var(--angle),
    /* Sector color */ #58d5ba var(--angle),
    /* The angle of the sector */ transparent var(--angle)
      /* Rest of the circle transparent */
  );
}

.resultPercentAnimation {
  --angle: var(--angle);
  --speed: var(--speed);
}

.resultPercentBackground {
  position: relative;
  margin: 0 auto;
  width: var(--size);
  height: var(--size);
  background: red;
  border-radius: 50%; /* Makes the div a circle */
}

.resultPercentCenter {
  position: relative;
  top: calc(var(--size) / 8);
  left: calc(var(--size) / 8);
  background: white;
  width: calc(0.75 * var(--size));
  height: calc(0.75 * var(--size));
  border-radius: calc(0.375 * var(--size));;
}

.resultPercentText {
  position: relative;
  top: calc(var(--size) / 5);
  left: calc(var(--size) / 6.5);
  font-size: calc(var(--size) / 4.5);
}

@keyframes myAnimation {
  0% {
    display: none;
    opacity: 0;
    transform: rotateX(90deg);

    50% {
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(90deg);
    }
  }
}

.backButton {
  margin-top: 5%;
  background: #58d5ba;
  animation-name: myAnimation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}
