.responsive-container {
  /* Mobile-first design */
  width: 95%;
  margin: 0 auto; /* Center the container */
  box-sizing: border-box;
  box-shadow: 2px 4px 8px 6px rgba(0, 0, 0, 0.15);
  padding: 0 10px; 
  border-radius: 8px;
  border-width: '';
}

dialog {
  width: 100%; /* Default width for larger screens */
}

/* Media query for mobile screens */
@media (max-width: 768px) { /* Adjust the max-width as needed */
  dialog {
    width: 70%; /* Full or almost full width for mobile */
    max-width: 90%;
  }
}

/* Tablet and above */
@media (min-width: 640px) {
  .responsive-container {
    max-width: 640px; /* Set a max width for tablets */
    padding: 24px; /* Increase padding on larger screens */
  }
}

{{/* /* Laptop and above */
@media (min-width: 568px) {
  .responsive-container {
    max-width: 568px; /* Set a max width for laptops */
    padding: 32px;
  }
} */}}

{{/* /* Desktop and above */
@media (min-width: 1024px) {
  .responsive-container {
    max-width: 1024px; /* Set a max width for desktops */
    padding: 40px;
  }
} */}}